<div class="card my-3 px-4 container" style="max-width: 80%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="infoSerie.imagen" class="img-fluid rounded-start" [alt]="'Imagen de la serie' +infoSerie.titulo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{infoSerie.titulo}}</h5>
        <p class="card-text">Serie creada por: {{infoSerie.creador}}</p>
        <p class="card-text">Fechas: {{infoSerie.fechas}}</p>
        <p class="card-text">Rating: {{infoSerie.rating}}</p>
        <p class="card-text">Canal: {{infoSerie.canal}}</p>
        <div class="d-flex gap-2">
          
          <!-- <button (click)="goToPersonajes()" class="btn btn-primary">Personajes</button> -->

        <button [routerLink]="['/serie',urlPadre ,'personajes']" class="btn btn-secondary">Personajes</button>
        <button [routerLink]="['/serie',urlPadre ,'temporadas']" class="btn btn-secondary">Temporada</button>

          <router-outlet>


          </router-outlet>
        </div>

        <a [routerLink]="['/series']">Volver</a>
      </div>
    </div>
  </div>
</div>